<h3 class="font-weight-bold">Events</h3>

<div *ngFor="let event of events">
  <div class="card mb-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ event.title }}</h5>
      <p class="card-text">{{ event.description }}</p>
      <button
        type="button"
        class="btn btn-info mr-3"
        [routerLink]="[event.id, 'update']"
        routerLinkActive="router-link-active"
      >
        Update
      </button>
      <button
        type="button"
        class="btn btn-danger"
        [routerLink]="[event.id, 'delete']"
        routerLinkActive="router-link-active"
      >
        Delete
      </button>
    </div>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-lg btn-dark"
      [routerLink]="['create']"
      routerLinkActive="router-link-active"
    >
      <i
        class="fas fa-plus-circle"
        style="font-size:18px;color: cornflowerblue;"
      ></i>
      New Event
    </button>
  </div>
</div>
