@import '../../../styles.scss';

h3 {
  color: black;
}

.card-header {
  border-bottom: 1px solid black;
  background: cornflowerblue;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
