<div class="d-flex justify-content-center">
  <div class="card">
    <app-card-style title="Create New Event"></app-card-style>
    <div class="card-body bg-light">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Meeting"
            formControlName="title"
            [ngClass]="applyCssErro(form, 'title')"
          />
          <app-apply-css-error
            message="Title is required"
            [show]="verifyInvalidTouched(form, 'title')"
          >
          </app-apply-css-error>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="description"
            class="form-control"
            id="description"
            placeholder="Company's bimestrial meeting"
            formControlName="description"
            [ngClass]="applyCssErro(form, 'description')"
          />
          <app-apply-css-error
            message="Description is required"
            [show]="verifyInvalidTouched(form, 'description')"
          >
          </app-apply-css-error>
        </div>
        <div class="form-group">
          <label for="startDate">Date</label>
          <input
            type="text"
            placeholder="mm/dd/yyyy"
            class="form-control"
            formControlName="startDate"
            [bsConfig]="bsConfig"
            bsDatepicker
            readonly="true"
            [ngClass]="applyCssErro(form, 'startDate')"
          />
          <app-apply-css-error
            message="Start date of event is required"
            [show]="verifyInvalidTouched(form, 'startDate')"
          >
          </app-apply-css-error>
        </div>
        <div class="form-check mb-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="multipleDays"
            (click)="onClick()"
          />
          <label class="form-check-label" for="multipleDays">
            This event is longer than one day?
          </label>
        </div>
        <div *ngIf="checked">
          <div class="form-group">
            <label for="endDate">End Date</label>
            <input
              type="text"
              placeholder="mm/dd/yyyy"
              class="form-control"
              formControlName="endDate"
              [bsConfig]="bsConfig"
              bsDatepicker
              readonly="true"
              [ngClass]="applyCssErro(form, 'endDate')"
            />
            <app-apply-css-error
              message="End date of event is required"
              [show]="verifyInvalidTouched(form, 'endDate')"
            >
            </app-apply-css-error>
          </div>
        </div>
        <div class="form-group">
          <label for="startHour">Start</label>
          <input
            type="startHour"
            class="form-control"
            id="startHour"
            placeholder="14:00"
            formControlName="startHour"
            [ngClass]="applyCssErro(form, 'startHour')"
          />
          <app-apply-css-error
            message="Start hour of event is required"
            [show]="verifyInvalidTouched(form, 'startHour')"
          >
          </app-apply-css-error>
        </div>
        <div class="form-group">
          <label for="endHour">End</label>
          <input
            type="endHour"
            class="form-control"
            id="endHour"
            placeholder="18:00"
            formControlName="endHour"
            [ngClass]="applyCssErro(form, 'endHour')"
          />
          <app-apply-css-error
            message="End hour of event is required"
            [show]="verifyInvalidTouched(form, 'endHour')"
          >
          </app-apply-css-error>
        </div>
        <div class="text-center">
          <button
            type="button"
            class="btn btn-secondary mr-3"
            [routerLink]="['/events']"
            routerLinkActive="router-link-active"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
