<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Image and text -->
  <a class="navbar-brand" [routerLink]="['/events']" routerLinkActive="router-link-active" >
    <i
      class="far fa-calendar-alt"
      style="font-size:24px;color: cornflowerblue;"
    ></i>
    Event Calendar
  </a>
  <!-- User options -->
  <div
    class="nav navbar-nav d-flex w-100 justify-content-end align-items-center"
  >
    <i
      class="fas fa-user-circle"
      style="font-size:24px;color: cornflowerblue;"
    ></i>
    <p class="mb-0 mx-2 font-weight-bold" style="color: cornsilk;">
      {{ username }}
    </p>
    <button
      type="button"
      class="btn btn-outline-info mx-2"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</nav>

<main class="bg min-vh-100 pt-4">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
